@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  /* widths */
  /* mobile - 375px */
  /* desktop - 1440px */

  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* neutral colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* typography */
  --small-paragraph: 0.75rem;
  --paragraph: 1rem;
  --primary-title: 1.5rem;
  --secondary-title: 1rem;

  /* font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

body {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--magnolia);
  font-family: "ubuntu";
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-top: 33px;
}

nav button {
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: var(--bold);
}

h1,
h3 {
  font-size: var(--primary-title);
  font-weight: var(--bold);
  color: var(--marine-blue);
  margin: 0;
}

h3 {
  font-size: var(--secondary-title);
}

p {
  font-size: var(--paragraph);
  color: var(--cool-gray);
  line-height: 1.3rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin: 10px 0 2px;
  font-size: 0.75rem;
  color: var(--marine-blue);
  font-weight: var(--regular);
}

footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  background-color: var(--white);
  padding: 10px;
}

footer button {
  padding: 12px 10px;
  border-radius: 5px;
  font-weight: var(--regular);
}

footer button[type="submit"] {
  background-color: var(--marine-blue);
  color: var(--white);
  border: 1px solid var(--marine-blue);
  float: right;
}

footer button[type="button"] {
  background-color: var(--white);
  color: var(--cool-gray);
  border: 1px solid var(--white);
}

.text-input {
  font-weight: var(--bold);
  color: var(--cool-gray);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.personal-info,
.select-plan,
.select-add-ons,
.confirm {
  background-color: var(--white);
  border-radius: 10px;
  padding: 25px;
  margin: 25px 10px;
  box-shadow: 0 3px 7px var(--light-gray);
}

.personal-info h1 {
  font-size: 1.5rem;
}

.personal-info form {
  display: flex;
  flex-direction: column;
}

.plan,
.add-on {
  display: flex;
  gap: 15px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding: 15px;
}

.add-on {
  gap: 20px;
  align-items: center;
}

.plan.current-selected,
.add-on.add-on-selected {
  border: 1px solid var(--purplish-blue);
}

.plan-text p,
.add-on-text p {
  margin-top: 8px;
  margin-bottom: 0;
}

.add-on-text p,
.add-on-price {
  font-size: var(--small-paragraph);
}

.add-on-price {
  color: var(--purplish-blue);
  margin-left: auto;
  font-weight: var(--bold);
}

.billing-type {
  display: flex;
  justify-content: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--purplish-blue);
}
