@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  /* widths */
  /* mobile - 375px */
  /* desktop - 1440px */

  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* neutral colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* typography */
  --small-paragraph: 0.75rem;
  --medium-paragraph: 0.875rem;
  --paragraph: 1rem;
  --primary-title: 1.5rem;
  --secondary-title: 1rem;

  /* font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

body {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--magnolia);
  font-family: "ubuntu";
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-top: 33px;
}

nav button {
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: var(--bold);
}

nav button.selected-step {
  background-color: var(--pastel-blue);
  color: var(--marine-blue);
  border: 1px solid var(--pastel-blue);
}

nav .button-text {
  display: none;
}

h1,
h3 {
  font-size: var(--primary-title);
  font-weight: var(--bold);
  color: var(--marine-blue);
  margin: 0;
}

h3 {
  font-size: var(--secondary-title);
}

p {
  font-size: var(--paragraph);
  color: var(--cool-gray);
  line-height: 1.3rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin: 10px 0 2px;
  font-size: var(--small-paragraph);
  color: var(--marine-blue);
  font-weight: var(--regular);
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  background-color: var(--white);
  padding: 10px;
}

footer button {
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: var(--regular);
  cursor: pointer;
}

footer button[type="submit"] {
  background-color: var(--marine-blue);
  color: var(--white);
  border: 1px solid var(--marine-blue);
  float: right;
}

footer button[type="button"] {
  background-color: var(--white);
  color: var(--cool-gray);
  border: 1px solid var(--white);
}

footer #confirm-btn {
  background-color: var(--purplish-blue);
}

.select-plan li {
  cursor: pointer;
}

.text-input {
  font-weight: var(--bold);
  color: var(--cool-gray);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.text-input:invalid {
  border: 1px solid var(--strawberry-red);
}

.text-input:placeholder-shown {
  border: 1px solid var(--light-gray);
}

.error {
  position: relative;
  color: var(--strawberry-red);
  font-size: var(--medium-paragraph);
  font-weight: var(--bold);
  margin: 0;
  bottom: 65px;
  text-align: right;
}

.personal-info,
.select-plan,
.select-add-ons,
.confirm,
.thank-you {
  background-color: var(--white);
  border-radius: 10px;
  padding: 25px;
  margin: 25px 10px;
  box-shadow: 0 3px 7px var(--light-gray);
}

.personal-info h1 {
  font-size: 1.5rem;
}

.personal-info form {
  display: flex;
  flex-direction: column;
}

.select-plan .free-months {
  color: var(--marine-blue);
  font-size: var(--small-paragraph);
}

.plan,
.add-on {
  display: flex;
  gap: 15px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding: 15px;
}

.plan {
  align-items: flex-start;
}

.add-on label {
  margin: 0;
}

.add-on {
  gap: 20px;
  align-items: center;
}

.plan.current-selected,
.add-on.add-on-selected,
.plan:hover,
.add-on:hover {
  border: 1px solid var(--purplish-blue);
}

.add-on:hover {
  cursor: pointer;
}

.plan-text p,
.add-on-text p {
  margin-top: 8px;
  margin-bottom: 0;
}

.add-on-text p,
.add-on-price {
  font-size: var(--small-paragraph);
}

.add-on-price {
  color: var(--purplish-blue);
  margin-left: auto;
  font-weight: var(--bold);
}

.billing-type {
  display: flex;
  justify-content: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--purplish-blue);
}

.confirm .selected-choices {
  margin: 30px 0;
}

.confirm .selected-plan {
  border-bottom: 2px solid var(--light-gray);
}

.confirm .selected-plan-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.confirm .change-plan {
  color: var(--cool-gray);
  text-decoration: underline;
  font-weight: var(--medium);
  cursor: pointer;
}

.confirm .change-plan:hover {
  color: var(--purplish-blue);
  font-weight: var(--bold);
}

.confirm .selected-plan,
.confirm .selected-add-on,
.confirm .final-price-container {
  display: flex;
  justify-content: space-between;
}

.confirm .selected-plan {
  padding-bottom: 15px;
}

.selected-plan .plan-price,
.selected-add-on .add-on-price {
  color: var(--marine-blue);
  font-size: var(--medium-paragraph);
}

.selected-plan .plan-price {
  font-weight: var(--bold);
}

.confirm .final-price {
  color: var(--purplish-blue);
  font-weight: var(--bold);
}

.selected-add-on p {
  margin: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.toggle-container span {
  font-size: var(--medium-paragraph);
  font-weight: var(--bold);
}

.toggle-container .yearly-text {
  color: var(--cool-gray);
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}

.thank-you img {
  width: 56px;
  height: 56px;
}

.thank-you h1 {
  margin-top: inherit;
}

/* Toggle switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--marine-blue);
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 1000px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: none;
    overflow: hidden;
  }

  #root {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    margin-top: 0;
    margin-left: auto;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 32px;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    z-index: 1;
  }

  nav .step-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  nav .button-text {
    display: flex;
    flex-direction: column;
  }

  nav .button-text p {
    margin: 0;
    color: var(--pastel-blue);
    text-transform: uppercase;
    font-size: var(--small-paragraph);
  }

  nav .button-text p.step-description {
    color: var(--white);
    font-weight: var(--bold);
    font-size: var(--medium-paragraph);
  }

  .personal-info,
  .select-plan,
  .select-add-ons,
  .confirm,
  .thank-you {
    margin: 0 auto 0 0;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 100px;
    box-shadow: 0 3px 7px var(--light-gray);
  }
}
