@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

:root {
  /* widths */
  /* mobile - 375px */
  /* desktop - 1440px */

  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* neutral colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* typography */
  --paragraph: 1rem;
}
